.uploadfilecontainer {
  background-image: url("src/assets/imgs/Upload.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 400px;
  margin: 20px auto;
  border: 2px dashed #526C5BDE;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #526C5BDE;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}
