<div class="container">

  <img src="assets/imgs/Walleto.png">

  <form class="form">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" value="">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>


    <button class="submit"  (click)="onLogin()">Entrar</button>
  </form>

</div>
