<div class="container">
  <h1>Envie uma conta conta para seu consumidor pagar</h1>

  <mat-form-field appearance="outline">
    <mat-label>CPF</mat-label>
    <input matInput placeholder="CPF" mask="000.000.000-00">
    <mat-icon matSuffix>receipt</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <app-upload [accept]="'application/pdf'"></app-upload>

  <button>Enviar</button>
</div>


<div class="container">
  <div class="token-container">
    <label>Token: 123456</label>
    <label>Api de Acesso:</label>
  </div>
</div>
