.container {
  display: grid;
  background-color: #FFFFFF;
  border-radius: 4px;
  justify-content: center;
  align-content: center;
  margin: 16px;
  padding: 16px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #526C5BDE;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline .mat-foused{
  color: #526C5BDE!important;
}

::ng-deep .mat-form-field-label {
  color: #526C5BDE!important;
}

h1 {
  color: #526C5BDE;
}

button {
  border-radius: 24px;
  border-color: white;
  background-color: rgba(0,0,0,0);
  background-color: #526C5BDE;
  color: white;
  height: 44px;
  width: 100%;
  border-image: none;
  border-style: double;
}

.token-container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #526C5B;
  color: white;
  padding: 16px;
  border-radius: 16px;
}
